:root {
  --primary-color: #4599b5;
  --primary-color-rgb: 69, 153, 181;
  --secondary-color: #fbfcfe;
  --alt-text-color: #203640;
}

.App {
  background: var(--secondary-color);
  padding: 30px 0;
}

.App header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.App h1 {
  margin: 0;
  color: #212729;
}

.App-logo {
  margin-right: 10px;
  padding: 3px 12px;
  max-height: 36px;
  background: var(--alt-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 30%);
}
.App-footer {
  font-size: 12px;
  margin: 40px 0;
  text-align: center;
}

.App-footer a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
}

.App-footer a:hover {
  text-decoration: underline;
}

.App-footer a#portfolio-link:target {
  animation: flash 4s forwards 0.4s;
  border-radius: 4px;
  padding: 2px 5px;
}

@keyframes flash {
  from {
    background: white;
  }

  to {
    background: #203640;
    color: white;
  }
}
@media (max-width: 500px) {
  .App header {
    justify-content: center;
    margin-bottom: 40px;
  }
}
