.Phonetic {
  padding: 3px 7px 2px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(var(--primary-color-rgb), 0.05);
}

.Phonetic-play-symbol {
  margin-left: 10px;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid rgba(33, 39, 41, 0.6);
  color: rgba(33, 39, 41, 0.6);
  background: #ffff;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.125);
  padding: 6px 7px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.Phonetic-play-symbol:hover {
  color: #fff;
  background: rgba(33, 39, 41, 0.6);
}
.Phonetic-play-symbol:active {
  background: #86dafe;
}

@media (max-width: 500px) {
  .Phonetic {
    padding: 3px 5px 2px;
  }
}
