.Results h2 {
  margin-bottom: 8px;
  font-weight: 600;
}

.Results ul.Results-phonetics {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.Results ul.Results-phonetics li {
  padding: 0 25px 0 0;
}
