.Thesaurus-synonyms,
.Thesaurus-antonyms {
  margin-top: 2px;
  display: flex;
  align-items: baseline;
}

.Thesaurus-synonyms {
  margin-bottom: 16px;
}

.Thesaurus-synonyms-list,
.Thesaurus-antonyms-list {
  margin-left: 5px;
  display: flex;
  justify-content: space-evenly;
}
.Thesaurus-synonym,
.Thesaurus-antonym {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 3px 8px;
  margin: 10px 5px 0 0;
  border-radius: 30px;
  transition: all 50ms ease-in-out;
}

.Thesaurus-synonym:hover,
.Thesaurus-antonym:hover {
  cursor: pointer;
  background: rgba(134, 218, 254, 0.1);
}
.Thesaurus-similar,
.Thesaurus-opposite {
  color: var(--primary-color);
  opacity: 0.9;
}
